<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>UserCreateAndFind</display-name>
    <servlet-name>UserCreateAndFind</servlet-name>
    <servlet-class>controller.UserCreateAndFind</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreateAndFind</servlet-name>
    <url-pattern>/CreateAndFind</url-pattern>
  </servlet-mapping>
  <display-name>Viagem-Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserCreateData</display-name>
    <servlet-name>UserCreateData</servlet-name>
    <servlet-class>controller.UserCreateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreateData</servlet-name>
    <url-pattern>/CreateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserBothDelete</display-name>
    <servlet-name>UserBothDelete</servlet-name>
    <servlet-class>controller.UserBothDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserBothDelete</servlet-name>
    <url-pattern>/BothDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateData</display-name>
    <servlet-name>UserUpdateData</servlet-name>
    <servlet-class>controller.UserUpdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateData</servlet-name>
    <url-pattern>/UpdateData</url-pattern>
  </servlet-mapping>
</web-app>